{% load static %}
<!--footer-->
    <div class="container-fluid bg-white d-flex flex-row text-center px-4 d-flex d-flex align-items-center footer">
        <div class="row d-flex flex-row mt-4">
            <div class="col-sm-12 col-md-3 d-flex align-items-center">
                <a href="index.html" class="f-logo">
                    <img src="{% static 'img/logo.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-sm-12 col-md-3 text-center d-flex align-items-center">
                <p>UrbaKet Store 2024</p>
            </div>
            <div class="col-sm-12 col-md-3 text-start">
                <h3>Conocenos</h3>
                    <ul>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Trabaja con nosotros</a></li>
                    </ul>
            </div>
            <div class="col-sm-12 col-md-3 text-start footer">
                <h3>Vende con Nosotros</h3>
                <ul>
                    <li><a href="#">Registrate como vendedor</a></li>
                </ul>
            </div>
        </div>
    </div>