<!--navbar-->
<nav class="navbar navbar-expand-lg bg-danger topbar">
    <div class="container-fluid text-end row link-underline-opacity-0  d-flex justify-content-between">
        <div class="flex-row col-lg-4 text-center "> <!-- SOCIAL INFO -->
            <ul class="d-flex flex-row ">
                <li>
                    <p class="#">
                        <a href="http://facebook.com">
                            <i class="bi bi-facebook link-light ms-4"></i>
                        </a>
                    </p>
                </li>
                <li>
                    <p class="#">
                        <a href="http://instagram.com">
                            <i class="bi bi-instagram link-light ms-3"></i>
                        </a>
                    </p>
                </li>
                <li>
                    <p class="#">
                        <a href="http://gmail.com">
                            <i class="bi bi-envelope-at-fill link-light ms-3"></i>
                        </a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-row col-lg-8"> <!-- COMPANY INFORMATION -->
            <ul class="d-flex flex-row">
                <li class="d-flex flex-row ms-3">
                    <p class="#">
                        Dirección
                    </p>
                    <p class="ms-2 ">
                        <a href="http://maps.google.com" target="_blank" rel="nofollow" class="link-light">Calle 73 # 72 A 11,Carepa Colombia</a>
                    </p>
                </li>
                <li class="d-flex flex-row ms-3">
                    <p class="#">
                        Contacto
                    </p>
                    <p class="ms-2">
                        <a href="mailto:support@email.com" class="link-light">Support@Email.com</a>
                    </p>
                </li>
                <li class="d-flex flex-row ms-3">
                    <p class="#">
                        Telefono
                    </p>
                    <p class="ms-2">
                        <a href="tel:323-751-8243" class="link-light">(323)-751-8243</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
  </nav>
