{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fs-4">Configuracion de cuenta</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-4 text-start mt-2 p-5">
            <h1 class="fs-5 ps-4">Nombres</h1>
            <p class="ps-4 pt-2">Pepito Perez</p>
            <h1 class="fs-5 ps-4 pt-2">Correo</h1>
            <p class="ps-4 pt-2">pepitoperez@gmail.com</p>
            <h1 class="fs-5 ps-4 pt-2">Numero de telefono</h1>
            <p class="ps-4 pt-2">333 333 3333</p>
            <h1 class="fs-5 ps-4 pt-2">Contraseña</h1>
            <p class="ps-4 pt-2">********</p>
        </div>
    </div>
</div>
{% endblock %}