{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="container text-start">
    <div class="row mt-5 pb-5">
      <div class="col-md-5 text-center">
        
        <h1 class="fs-5">{{ products.nombre }}</h1>
        <img src="{{ products.imagen.url }}" style="width: auto; height: auto;" class="mt-3" alt=""><br>
        
      </div>
      <div class="col-md-4">
       <h1>Descripción del producto</h1><br>
       <p>{{ products.descripcion }}</p><br>
       <h1>Información del producto</h1><br>
       <p>{{ products.informacion }}</p>
      </div>
      <div class="col-md-3">
        <div class="card p-4">
            <h1 class="text-center fs-3">$ {{ products.precio }}</h1>
            <p class="mt-3">Direccion</p>
            <p class="mt-3">En Bodega</p>
            <a href="" class="mt-3 btn btn-light">Cantidad 1</a>
            <button type="button" value="{{ products.id }}" id="add-cart" class="btn btn-primary mt-3">Agregar al Carrito</button>
            <button class="btn btn-danger mt-3">Comprar Ahora</button>
            <p class="mt-3">Vendido Por:</p>
            <p class="text-center mt-3">Nombre de la empresa</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}